.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #363636;
    padding: 30px 0;
    border-radius: 10px;
    text-align: center;
    width: 375px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-avatar {
    width: 70px;
    height: 70px;
    background-color: #007bff;
    border-radius: 50%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}