.table {
    border-collapse: collapse;
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* overflow: visible; */
}

.table th,
td {
    text-align: left;
    background: rgb(110, 110, 110);
    padding: 8px 12px;
}

.table td {
    border-top: 1px solid rgb(160, 160, 160);
}

.table th {
    font-size: 20px;
    font-weight: bold;
}