.table {
    border-collapse: collapse;
    border-spacing: 0;
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* overflow: visible; */
}

.table th, td {
    text-align: left;
    background: rgb(110, 110, 110);
    padding: 8px 12px;
}

.table td {
    border-top: 1px solid rgb(160, 160, 160);
}

.table th {
    font-size: 20px;
    font-weight: bold;
}

.table thead tr:first-child th:first-child {
    border-top-left-radius: 5px;
}
.table thead tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
