{{> "components/modal/add-device" }}

<div align="left" class="fill60 header">
    <h1>WOL Clients</h1>

    <div style="display: flex; gap: 10px;">
        <button class="nav-btn" onclick="openModal('add-device-modal')">+ New</button>
        <button class="nav-btn">Export</button>
        <button class="nav-btn">Logout</button>
    </div>
</div>