<div id="toast" class="toast">WOL отправлен</div>
<div align="center">
    {{> "components/header" }}
    <table class="table fill60">
        <thead>
            <tr>
                <th>ID</th>
                <th>Device</th>
                <th>MAC</th>
                <th>Port</th>
                <th></th>
            </tr>
        </thead>
        {{> "render/table" }}
    </table>
    <br><br>
</div>